<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
   <base href="/" />
   <meta charset="UTF-8">
   <title>home16.2</title>
   <script src="Task/Libraries/angular.js"></script>
   <script src="Task/Libraries/angular_route.js"></script>
   <link href="Task/Libraries/bootstrap.css" rel="stylesheet" />
   <link href="Task/Libraries/bootstrap-theme.css" rel="stylesheet" />
   <script>
      var app = angular.module('myApp', ['ngRoute'])
            .config(function ($routeProvider, $locationProvider) {

               $routeProvider
                     .when('/', {
                        templateUrl: 'Task/home.html',
                     })
                     .when('/contact', {
                        templateUrl: 'Task/contact.html',
                     })
                     .otherwise({
                        redirectTo: '/'
                     })
               $locationProvider.html5Mode(true);
            })
            .controller('homeCtrl', function($scope){
               var people = [{name: 'Vasya', age: 20, email: 'vasya@mail.ru', employed: false},
                  {name: 'Masha', age: 25, email: 'm@m', employed: true},
                  {name: 'Petya', age: 27, email: 'petya@stuff', employed: true},
                  {name: 'John', age: 36, email: 'johnDoe@mail', employed: true},
                  {name: 'Jane', age: 28, email: 'janeDoe@mail', employed: false}]
               $scope.items = people;
            })
            .controller('mainCtrl', function($scope, $location){
               $scope.goHome = function () {
                  $location.path('/');
               }
               $scope.goToContact = function () {
                  $location.path('/contact')
               }
            })
   </script>
</head>
<body>
<div class="panel panel-primary well" ng-controller="mainCtrl">
   <input class="btn-lg btn-info" ng-click="goHome()" type="button" value="Home">
   <input class="btn-lg btn-info" ng-click="goToContact()" type="button" value="Contact">
</div>
<div class="panel" ng-view></div>
</body>
</html>